@import "footer";
@import "navbar";

#banner
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cyan;
	position: relative;
	padding: 215px 0px 215px 0px;
	.banner-child
	{
		background-color: #FF5D33;
		position: absolute;
		z-index: 2;
		padding: 188px 500px 188px 500px;
	}
	.text
	{
		position: absolute;
		z-index: 3;
		top: 20%;
	    left: 5%;
	}
	.coffee
	{
		position: absolute;
		z-index: 3;
	    bottom: 5%;
	    left: 40%;
	}

	.chat
	{
		position: absolute;
		z-index: 3;
		bottom: 0%;
	    right: 0%;
	    height: 358px;
	}
}


.content
{
	background-color: #F0F0F0;
	padding: 80px 200px;
	i
	{
	    background-color: #00CCFF;
	    color: white;
		border-radius: 50%;
		text-align: center;
		width: 45px;
		height: 45px;
		padding: 15px;
		margin-right: 7px;		
	}
}

.latest-works
{
	padding: 30px 0px;
	.geo, .notes, .lemon, .arrow
	{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.geo-bg
	{
		position: absolute;
		bottom: 0;
		width: 90%;
	    height: 40%;
	    z-index: 2;
	}
	.preview, 
	{
		position: absolute;
		z-index: 3;
		bottom: 13%;
	    left: 30%;
	}
	.link
	{
		position: absolute;
		z-index: 3;
		bottom: 13%;
	    left: 60%;
	}
}

.fa-mouse-pointer, .fa-comment-dots, .fa-user-friends, 
{
	color: #00CCFF;
	padding-right: 20px;
}

.latest-works .row
{
	display: flex;

}

.testimonials
{
	h6
	{
		margin-bottom: 20px;
	}
	.logobg
	{
		width: 100%;
		position: relative;
	}
	.logo
	{
		position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
	}
	.logos
	{
	    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -20px;

	}

}

.download-section
{
	padding: 42px 0px 40px 0px;
	.container
	{
		background-color: #CCFFFF;
		border: solid 1px #00CCFF;;
	}
	.download-bg
	{
		padding: 38px 40px 35px 32px;
	}
	.download-link
	{
		position: relative;
	}
	.fa-download
	{
	    position: absolute;
	    top: 50%;
	    margin-top: -10px;
	    left: 50%;
	    color: white;
	    margin-left: -80px;
	}
	.download-btn
	{
		background-color: #33CCFF;
		padding: 24px 20px 22px 72px;
		font-weight: bold;
		font-size: 1.125rem;
	    border-radius: 8px;
	    border: solid 0px #33CCFF;
	}
}
.contact-us
{
	padding: 20px;
	i 
	{
	    color: #00CCFF;
		margin-right: 7px;	
	}
	.img
	{
		width: 100%;
		height: 100%;
	}
}
.portfolio
{
	padding: 20px;
	.menu-list 
	{
		padding: 0px;

		li
		{
			display: inline;
			padding: 10px;
		}
	}
	i 
	{
	    color: #00CCFF;
		margin-right: 7px;	
	}
	.all 
	{
		background-color: #00CCFF;
	}
	.img
	{
		width: 100%;
		height: 100%;
	}
	.row 
	{
		padding: 10px;
	}

}




.map-bg
{
	position: relative;
	width: 100%;
}
.map
{
	position: absolute;
    top: 18%;
    left: 10%;
    width: 80%;
}
.heading
{
	position: absolute;
	top: 8%;
	left: 6%;
	font-weight: bold;
}


@media (max-width: 1024px)
{
	.navbar
	{
		padding:20px;
	}
	.content
	{
		padding:10px;
	}
	.geo, .notes, .lemon, .arrow
	{
		padding: 10px;
	}
	.download-section .download-btn
	{
		margin-bottom: 20px;
	}
		.geo-bg
	{
		position: absolute;
		bottom: 0;
    	width: 94%;	
    	height: 40%;
    	z-index: 2;
    	left: 3%;
	}
	.preview, .link {
    position: absolute;
    z-index: 3;
    bottom: 13%;
    width: 12%;
    left: 30%;
	}
	.testimonials .logos {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -10px;
    width: 90%;}
}

@media (max-width: 1000px) and (min-width: 450px) {
	.testimonials .logos{
    margin-left: -95px;
    margin-top: -30px;
	}
	.latest-works .geo-bg {
    width: 94%;
	}
}