h6
{
	font-weight: bold;
}
.social
{
	padding-top: 20px;
    padding-bottom: 19px;
}
.phone
{
	padding-top: 0px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-top: 30px; /* Remove margins */
  li
	{
		padding-bottom: 10px
	}
}

.footer-section
{
	padding-top: 34px;
	background-color: #e5e4e2;
}

.copyright
{
	padding: 38px 0px 48px 0px;
}	


.footer-links-wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 15px;
}

@media (max-width: 1024px)
{
	.footer-links-wrapper
	{
		p
		{
			font-size: 12px;
			padding-top: 20px;
		}
	}
}