html
  {
    font-size: 16px;
    overflow-x: hidden;
  }
body
  {
     overflow-x: hidden;
  }


 .navbar
{ 
	padding: 40px 200px;
	.collapse a
	{
		display: inline-block;
		font-size: 1.25rem;
	}
	.dropdown-item:hover 
	{
		color: #00CCFF;
	}
}