@import "footer";
@import "navbar";

.portfolio
{
	padding: 20px;
	.menu-list 
	{
		padding: 0px;

		li
		{
			display: inline;
			padding: 10px;
		}
	}
	i 
	{
	    color: #00CCFF;
		margin-right: 7px;	
	}
	.all 
	{
		background-color: #00CCFF;
	}
	.img
	{
		width: 100%;
		height: 100%;
	}
	.row 
	{
		padding: 10px;
	}

}

