   html
  {
    font-size: 16px;
    overflow-x: hidden;
  }
  body
  {
     overflow-x: hidden;
  }


 .navbar
{ 
	height: 120px;
	display: flex;
	justify-content: space-around;
.navbar-brand
{
	font-size: 3.5rem;
	padding-left: 200px;
	font-weight: bold;
}
.lite
{
	color: #00CCFF;
}
}
.collapse
{
	padding-right: 217px;
	a
	{
		display: inline-block;
		font-weight: bold;
		font-size: 1.25rem;
	}
}
.dropdown-item:hover 
{color: white;}

#banner
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cyan;
	position: relative;
	padding: 215px 0px 215px 0px;
}
.banner-child
{
	background-color: #FF5D33;
	position: absolute;
	z-index: 2;
	padding: 188px 500px 188px 500px;
}

.text
{
	position: absolute;
	z-index: 3;
	top: 20%;
    left: 5%;
}
.coffee
{
	position: absolute;
	z-index: 3;
    bottom: 5%;
    left: 40%;
}

.chat
{
	position: absolute;
	z-index: 3;
	bottom: 0%;
    right: 0%;
    height: 358px;
}
.content
{
	background-color: #F0F0F0;
	padding: 80px 200px;
}

@media (max-width: 1400px)
{
.text
{
	position: absolute;
	z-index: 3;
	top: 20%;
    left: 5%;
}
.coffee
{
	position: absolute;
	z-index: 3;
    bottom: 5%;
    left: 40%;
}

.chat
{
	position: absolute;
	z-index: 3;
	bottom: 0%;
    right: 0%;
    height: 358px;
}
}

.latest-works
{
	padding: 30px 0px;
}

// change to just i
.fa-mouse-pointer, .fa-comment-dots, .fa-user-friends, 
{
	color: #00CCFF;
	padding-right: 20px;
}


.img-fluid
{
	height: 100%;
}

.logobg
{
	width: 100%;
	position: relative;
}
.logo
{
	position: absolute;
	top: 22%;
    left: 22%;
}
.logos
{
    position: absolute;
    top: 28%;
    left: 15%;

}
.geo
{
	position: relative;
	width: 100%;
}

.geo-bg
{
	position: absolute;
	bottom: 0;
	width: 90%;
    height: 40%;
    z-index: 2;
}
.preview
{
	position: absolute;
	z-index: 3;
	bottom: 13%;
    left: 30%;
}
.link
{
	position: absolute;
	z-index: 3;
	bottom: 13%;
    right: 30%;
}


	
.icon-small i{

  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  padding: 12px;

}
.icon-small {
    position: relative;
    i {
    // padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00CCFF;
    color: white;
	}
	h6
	{
	padding-left: 50px;
	font-weight: bold;
	margin-top: 10px;
	}
}
	p
	{
	padding-top: 20px;
	font-size: 16px;
	}

.download
{
	background-color: #CCFFFF;
}

.download-bg
{
	padding: 38px 40px 35px 32px;
}
.download-section
{
	padding-top: 42px;
	padding-bottom: 40px;
}
.download-btn
{
	background-color: #33CCFF;
	padding: 24px 20px 22px 72px;
	font-weight: bold;
	font-size: 16px;
    font-size: 18px;
    
    border-radius: 8px;
    margin-top: 30px;
    // border-color: #33CCFF;
    border: solid 0px #33CCFF;
}

.fa-download
{
	position: absolute;
	top: 40%;
	left: 12%;
	color: white;
}
h6
{
	font-weight: bold;
}
.social
{
	padding-top: 20px;
    padding-bottom: 19px;
}
.phone
{
	padding-top: 0px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-top: 30px; /* Remove margins */
  li
	{
		padding-bottom: 10px
	}
}

.footer-section
{
	padding-top: 34px;
	background-color: #e5e4e2;
}

.copyright
{
	padding: 38px 0px 48px 0px;
}